<h1 class="mt-4">Categorías</h1>
        
<!-- Formulario para agregar una nueva categoría -->
<form action="/update/<%=id %>" method="post" class="mb-4">
    <div class="form-group">
        <label for="nombre">Categoria</label>
        <input type="text" id="categoria" name="categoria" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Categoría</button>
</form>
